[bot.releases]
enabled = true
pull_request.title = "chore(release): router crates and artifacts"

[github]
owner = "graphql-hive"
repo = "router"

[packages.hive-router-query-planner]
versioned_files = ["lib/query-planner/Cargo.toml", { path = "lib/executor/Cargo.toml", dependency = "hive-router-query-planner" }, { path = "bin/router/Cargo.toml", dependency = "hive-router-query-planner" }, "Cargo.lock"]
scopes = ["hive-router-query-planner", "qp", "query-planner"]
changelog = "lib/query-planner/CHANGELOG.md"

[packages.hive-router-plan-executor]
versioned_files = ["lib/executor/Cargo.toml", { path = "bin/router/Cargo.toml", dependency = "hive-router-plan-executor" }, "Cargo.lock"]
scopes = ["hive-router-plan-executor", "executor"]
changelog = "lib/executor/CHANGELOG.md"

[packages.hive-router-config]
versioned_files = ["lib/router-config/Cargo.toml", { path = "lib/executor/Cargo.toml", dependency = "hive-router-config" }, { path = "bin/router/Cargo.toml", dependency = "hive-router-config" }, { path = "lib/internal/Cargo.toml", dependency = "hive-router-config" }, "Cargo.lock"]
scopes = ["config"]
changelog = "lib/router-config/CHANGELOG.md"

[packages.hive-router-internal]
versioned_files = ["lib/internal/Cargo.toml", { path = "lib/executor/Cargo.toml", dependency = "hive-router-internal" }, { path = "bin/router/Cargo.toml", dependency = "hive-router-internal" }, "Cargo.lock"]
scopes = ["internal"]
changelog = "lib/internal/CHANGELOG.md"

[packages.graphql-tools]
versioned_files = ["lib/graphql-tools/Cargo.toml", { path = "lib/executor/Cargo.toml", dependency = "graphql-tools" }, { path = "lib/query-planner/Cargo.toml", dependency = "graphql-tools" }, { path = "lib/hive-console-sdk/Cargo.toml", dependency = "graphql-tools" }, { path = "bin/router/Cargo.toml", dependency = "graphql-tools" }, "Cargo.lock"]
scopes = ["graphql-tools"]
changelog = "lib/graphql-tools/CHANGELOG.md"

[packages.hive-console-sdk]
versioned_files = ["lib/hive-console-sdk/Cargo.toml", { path = "bin/router/Cargo.toml", dependency = "hive-console-sdk" }, "Cargo.lock"]
scopes = ["hive-console-sdk"]
changelog = "lib/hive-console-sdk/CHANGELOG.md"

[packages.hive-router]
versioned_files = ["bin/router/Cargo.toml", "Cargo.lock"]
scopes = ["hive-router", "router", "config", "qp", "executor", "internal", "graphql-tools"]
changelog = "bin/router/CHANGELOG.md"

[packages.node-addon]
versioned_files = ["lib/node-addon/package.json", "lib/node-addon/Cargo.toml", "Cargo.lock"]
scopes = ["node-addon"]
changelog = "lib/node-addon/CHANGELOG.md"

[packages.hive-apollo-router-plugin]
versioned_files = ["apollo-router-workspace/bin/router/package.json", "apollo-router-workspace/bin/router/Cargo.toml", "apollo-router-workspace/Cargo.lock"]
scopes = ["hive-apollo-router-plugin", "apollo-router", "graphql-tools", "hive-console-sdk"]

# "release" pipeline that prepares the release and pushes a release PR
[[workflows]]
name = "release"
  [[workflows.steps]]
  type = "PrepareRelease"
  ignore_conventional_commits = true
  [[workflows.steps]]
  type = "Command"
  command = 'git commit -m "chore: prepare releases"'
  [[workflows.steps]]
  type = "Command"
  command = "git push"
  [[workflows.steps]]
  type = "Release"

# "document-change" / "changeset" pipeline that helps to create a changeset file during development
[[workflows]]
name = "document-change"
  [[workflows.steps]]
  type = "CreateChangeFile"
  [[workflows.steps]]
  type = "Command"
  command = "./.changeset/release-sync.sh"

[[workflows]]
name = "changeset"
  [[workflows.steps]]
  type = "CreateChangeFile"
  [[workflows.steps]]
  type = "Command"
  command = "./.changeset/release-sync.sh"
