[package]
name = "hive-apollo-router-plugin"
authors = ["Kamil Kisiela <kamil.kisiela@gmail.com>"]
repository = "https://github.com/graphql-hive/router/"
edition = "2021"
license = "MIT"
publish = true
version = "3.0.2"
description = "Apollo-Router Plugin for Hive"

[[bin]]
name = "router"
path = "src/main.rs"

[lib]
name = "hive_apollo_router_plugin"
path = "src/lib.rs"

[dependencies]
apollo-router = { version = "^2.0.0" }
hive-console-sdk = { version = "=0.3.6", path = "../../../lib/hive-console-sdk"}
sha2 = { version = "0.10.8", features = ["std"] }
anyhow = "1"
tracing = "0.1"
async-trait = "0.1.77"
futures = { version = "0.3.30", features = ["thread-pool"] }
schemars = { version = "1.0.4", features = ["url2"] }
serde = "1"
serde_json = "1"
tokio = { version = "1.36.0", features = ["full"] }
tower = { version = "0.5", features = ["full"] }
http = "1"
http-body-util = "0.1"
rand = "0.9.0"
tokio-util = "0.7.16"

[dev-dependencies]
httpmock = "0.7.0"
jsonschema = { version = "0.29.0", default-features = false, features = [
    "resolve-file",
] }
lazy_static = "1.5.0"
