name: release-crates

permissions:
  pull-requests: write
  contents: write
  id-token: write

on:
  push:
    branches:
      - main

env:
  CARGO_INCREMENTAL: 1

jobs:
  check:
    name: check / find-pending-releases
    runs-on: ubuntu-latest
    outputs:
      crates_to_publish: ${{ steps.check_crates.outputs.crates_to_publish }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          cache: false
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          shared-key: ${{ hashFiles('**/Cargo.lock') }}
      - name: Cache target
        uses: actions/cache@v3
        with:
          path: target
          key: target-${{ hashFiles('**/Cargo.lock') }}-release-check
          restore-keys: |
            target-${{ hashFiles('**/Cargo.lock') }}-release-check
            target-${{ hashFiles('**/Cargo.lock') }}-
            target-
      - name: Run release-crates-check.sh
        id: check_crates
        run: |
          chmod +x ./.github/release-crates-check.sh
          ./.github/release-crates-check.sh

  publish-crates:
    name: publish / crates
    runs-on: ubuntu-latest
    needs:
      - check
    env:
      CRATES_PUBLISH_JSON: ${{ needs.check.outputs.crates_to_publish }}
      PUBLISH_CONFIG_CRATE: ${{ contains(needs.check.outputs.crates_to_publish, '"hive-router-config"') }}
      PUBLISH_INTERNAL_CRATE: ${{ contains(needs.check.outputs.crates_to_publish, '"hive-router-internal"') }}
      PUBLISH_QUERY_PLANNER_CRATE: ${{ contains(needs.check.outputs.crates_to_publish, '"hive-router-query-planner"') }}
      PUBLISH_EXECUTOR_CRATE: ${{ contains(needs.check.outputs.crates_to_publish, '"hive-router-plan-executor"') }}
      PUBLISH_ROUTER_CRATE: ${{ contains(needs.check.outputs.crates_to_publish, '"hive-router"') }}
      PUBLISH_GRAPHQL_TOOLS_CRATE: ${{ contains(needs.check.outputs.crates_to_publish, '"graphql-tools"') }}
      PUBLISH_CONSOLE_SDK_CRATE: ${{ contains(needs.check.outputs.crates_to_publish, '"hive-console-sdk"') }}
    if: ${{ github.repository_owner == 'graphql-hive' && needs.check.outputs.crates_to_publish != '{}' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          cache: false

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          shared-key: ${{ hashFiles('**/Cargo.lock') }}

      - name: Cache target
        uses: actions/cache@v3
        with:
          path: target
          key: target-${{ hashFiles('**/Cargo.lock') }}-publish-crates
          restore-keys: |
            target-${{ hashFiles('**/Cargo.lock') }}-publish-crates
            target-${{ hashFiles('**/Cargo.lock') }}-
            target-

      - name: authenticate with crates.io
        uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: publish graphql-tools lib
        if: env.PUBLISH_GRAPHQL_TOOLS_CRATE == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --manifest-path ${{ fromJson(needs.check.outputs.crates_to_publish).graphql-tools }}

      - name: publish hive-console-sdk lib
        if: env.PUBLISH_CONSOLE_SDK_CRATE == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --manifest-path ${{ fromJson(needs.check.outputs.crates_to_publish).hive-console-sdk }}

      - name: publish config lib
        if: env.PUBLISH_CONFIG_CRATE == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --manifest-path ${{ fromJson(needs.check.outputs.crates_to_publish).hive-router-config }}

      - name: publish internal lib
        if: env.PUBLISH_INTERNAL_CRATE == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --manifest-path ${{ fromJson(needs.check.outputs.crates_to_publish).hive-router-internal }}

      - name: publish query-planner lib
        if: env.PUBLISH_QUERY_PLANNER_CRATE == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --manifest-path ${{ fromJson(needs.check.outputs.crates_to_publish).hive-router-query-planner }}

      - name: publish executor lib
        if: env.PUBLISH_EXECUTOR_CRATE == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --manifest-path ${{ fromJson(needs.check.outputs.crates_to_publish).hive-router-plan-executor }}

      - name: publish router lib
        if: env.PUBLISH_ROUTER_CRATE == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --manifest-path ${{ fromJson(needs.check.outputs.crates_to_publish).hive-router }}
